/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.seo-dashboard-charts {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 20px;
}
